.resgister {
  background-color: #336279 !important;
  padding: 6px 30px !important;
  border-radius: 10px;
}
li a.nav-link {
  font-size: 20px !important;
  font-weight: 300 !important;
}
.dropdown.dropacount {
  margin-left: 200px !important;
}

@media (max-width: 992px) {
  .offcanvas .nav-item a,
  .nav-item button,
  .nav-item .iconoffcen {
    color: black !important
    ;
  }
  .offcanvas .nav-item a {
    font-size: 17px !important;
  }
  .offcanvas .nav-item a:active {
    color: #336279  !important;
  }
  
}

@media (max-width: 768px) {
  .dropdown-menu {
    width: 100%; /* لجعل القائمة تتكيف مع عرض الشاشة */
  }
}

.nav-link.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-menu {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* إضافة ظل للقائمة */
  border-radius: 8px; /* جعل الحواف مستديرة */
}

.dropdown-item i {
  font-size: 14px; /* ضبط حجم الأيقونة */
  color: #999; /* لون الأيقونة بجانب العناصر */
}

/* تحسين السهم الرئيسي */
.nav-link .fa-chevron-down {
  font-size: 12px;
  color: #fff;
  transition: transform 0.2s ease-in-out;
}

/* عند فتح القائمة - تدوير السهم */
.nav-item.dropdown.show .nav-link .fa-chevron-down {
  transform: rotate(180deg);
}

@media screen and (max-width: 700px) {
  .resgister {
    width: fit-content !important;
    font-size: 14px !important;
  }
}
@media screen and (max-width: 600px) {
  .navbar-brand .logo {
    width: 100px !important;
    height: 50px !important;
  }
  nav.navbar {
    margin: 10px 2px !important;
    padding: 10px 2px !important ;
  }
}
