.countryheader {
  background-color: #f9f9f9;
  padding: 20px;
}

.countryheader .country-list {
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  z-index: 2;
}
.cardinfo span {
  font-size: 12px !important;
  font-weight: 300 !important;
  color: #626e7b;
  margin: 0 0 !important;
  padding: 0 0 !important;
}
.cardinfo h6 {
  font-weight: 700 !important;
  color: #626e7b;
  font-size: 17px !important;
}
.btnchange {
  color: white !important;
  font-size: 10px;
  font-weight: 300;
  background-color: #4b87a4;
  padding: 5px 30px;
  border-radius: 5px;
}
.cardinfo ul li {
  padding-bottom: 10px;
  color: #626e7b;
  font-size: 17px !important;
  font-weight: 300 !important;
  transition: color 0.3s ease, font-weight 0.3s ease; /* تأثير انتقال ناعم */
}
/* تضيف نمطًا عندما يكون الرابط نشطًا */
.cardinfo .active {
  color: #626e7b !important ;
  font-weight: 500 !important; /* يجعل النص عريضًا */
}

.country-list .country-list-links {
  cursor: pointer;
  transition-duration: all 2s;
  border-radius: 5px;
  padding: 15px 80px;
  margin: 0 20px;
  font-size: 17px;
  font-weight: 500;
}
@media (max-width: 576px) {
  .boxchange {
    flex-direction: column !important;
  }
}
